/* General styles */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a.homelink {
    color: inherit !important;
    text-decoration: none;
}

.vh-100 {
    min-height: 100vh;
}

.vh-90 {
    min-height: 90vh;
}

.vh-60 {
    min-height: 60vh;
}

@media screen and (min-width: 1200px) {
    .max-700 {
        max-width: 700px;
    }
}

@media screen and (max-width: 767px) {
    .display-1 {
        font-size: 2.2rem;
    }
}

p,
ul.list-unstyled {
    color: #4d4d4a;
}

.text-success {
    color: #549936 !important;
}

.btn-success {
    background-color: #549936;
    border-color: #549936;
}

.btn-success:hover {
    background-color: #64b741;
    border-color: #64b741;
}

.btn-outline-success {
    border-color: #549936;
    color: #549936;
}

.btn-outline-success:hover {
    background-color: #64b741;
    border-color: #64b741;
    color: #fff;
}

footer a {
    color: #549936 !important;
}

.nav-link {
    color: #549936 !important;
    border-radius: 0 !important;
}

.nav-link.active,
.nav-link.active:hover,
.nav-link.active:active,
.nav-link.active:focus {
    background-color: #549936 !important;
    color: #fff !important;
}

.nav-tabs .nav-item {
    min-width: 25%;
}


/* Background video */

.header {
    position: relative;
    display: flex;
    overflow: hidden;
}

.bg-video {
    background-color: rgba(10, 10, 10, .6);
    background-image: url('https://cdn.elicos.it/sites/elicos.it/files/videobg.jpg');
    background-size: cover;
}

.bg-fondazione {
    background: linear-gradient(rgba(55, 55, 55, .5), rgba(55, 55, 55, .4)), url('../img/fondazione-banco-alimentare.jpg');
    background-size: cover;
}

.bg-fascia {
    background: linear-gradient(rgba(55, 55, 55, .9), rgba(55, 55, 55, .95)), url('../img/bg-fascia.png');
    background-size: cover;
}

.bg-banco-alimentare {
    background: linear-gradient(rgba(55, 55, 55, .9), rgba(55, 55, 55, .95)), url('../img/bg-banco-alimentare.jpg');
    background-size: cover;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 0;
    padding-bottom: 66.25%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@media screen and (max-width: 1199px) {
    .video-background {
        display: none;
    }
}

.bg-video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0.5s linear;
}

@media screen and (min-width: 1200px) {
    .bg-video-overlay--fadeOut {
        opacity: 0;
        visibility: hidden;
    }
}

.header iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.header-content {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
}